.making {
  width: 260px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid grey;
}

.making__wrapper {
  margin-top: 24px;
}

.making__title {
  width: 170px;
  position: relative;
  margin-left: auto;

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    top: 6px;
    left: -55px;
    background-image: url("../../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.making__video {
  margin-top: 7px;
}

.making__description {
  margin-left: 33px;
  margin-top: 22px;
  width: 192px;
  font-size: 13px;
  font-weight: 400;
}

.making__button {
  width: 192px;
  margin: 24px auto 33px auto;
  font-size: 17px;
  line-height: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .making {
    width: 668px;
    margin: 0 auto;
  }

  .making__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .making__video {
    width: 668px;
    min-height: 455px;
  }

  .making__title {
    font-size: 20px;
    width: 250px;
    margin-left: 50px;
    order: 2;
  }

  .making__description {
    width: 586px;
    font-size: 15px;
    line-height: 30px;
    order: 3;
  }
}

@media (min-width: 1150px) {
  .making {
    position: relative;
    width: 1050px;
    margin: 0 auto;
  }

  .making__title {
    width: 220px;
    padding-left: 40px;
  }

  .making__description {
    margin-left: auto;
    width: 288px;
    margin-top: -350px;
  }

  .making__button {
    position: absolute;
    right: 100px;
    bottom: 100px;
  }
}
